.menu{
    width: 80%;
    margin-left: 10%;
    height: 84vh;

    display: inline-flex;
    flex-wrap: wrap;
    overflow-y: scroll;

    padding: 2vh 1%;
}

.menu div{
    height: 36vh;
    width: 47%;
    background-color: wheat;
    margin: 2vh 1.5%;
}